---
import type { CollectionEntry } from "astro:content";
import type { Content, ImageType } from "../lib/content";
import HeroPost from "./HeroPost.astro";
import ViewPost from "./ViewPost.astro";

interface Props {
  content: Content;
  post: CollectionEntry<"postCollection">
}

const { content, post } = Astro.props;


---

<main>
  <HeroPost content={content} post={post} />

  <ViewPost content={content} post={post} />
</main>