---
import type { Content, ImageType, Tag } from "../lib/content";
import HeroTag from "./HeroTag.astro";
import ViewTag from "./ViewTag.astro";

const { content, tag } = Astro.props as { content: Content, tag: Tag };

---

<main>
  <HeroTag content={content} tag={tag} />

  <ViewTag content={content} tag={tag} />
</main>