---
import type { CollectionEntry } from "astro:content";
import HeroPost from "./HeroPost.astro";
import ViewPost from "./ViewPost.astro";
import RefPostEntries from "./RefPostEntries.astro";

interface Props {
  post: CollectionEntry<"postCollection">
}

const { post } = Astro.props;
---

<main>
  <HeroPost post={post} />

  <ViewPost post={post} />

  <RefPostEntries post={post} />
</main>