---
import type { CollectionEntry } from "astro:content";
import HeroTag from "./HeroTag.astro";
import ViewTag from "./ViewTag.astro";
import RefTagEntries from "./RefTagEntries.astro";

interface Props {
  tag: CollectionEntry<"tagCollection">;
  partial?: boolean;
}

const { tag, partial = false } = Astro.props as Props;
---

<main>
  <HeroTag tag={tag} partial={partial} />

  <ViewTag tag={tag} />

  <RefTagEntries tag={tag} />
</main>
