---
import Intro from "./Intro.astro";
import WorkExperience from "./WorkExperience.astro";
import Services from "./Services.astro";
import ContactDetails from "./ContactDetails.astro";
import FollowMe from "./FollowMe.astro";
import Perspective from "./Perspective.astro";
import ProjectFeatured from "./ProjectFeatured.astro";
import HeroMain from "./HeroMain.astro";
import PostScriptum from "./PostScriptum.astro";
import Education from "./Education.astro";

interface Props {}

---
<main class="bg-white">
  <HeroMain />

  <Intro />

  <Services />

  <WorkExperience />

  <Education />

  <ProjectFeatured />

  <Perspective />

  <PostScriptum />

  <ContactDetails />

  <FollowMe />
</main>