---
import type { Content } from "../lib/content";
import SocialLinks from "./SocialLinks.astro";

const { content } = Astro.props as { content: Content };
---

<footer class="bg-primary">
  <div class="container flex flex-col justify-between py-6 sm:flex-row">
    <p class="text-center font-body text-white md:text-left">
      © Copyright 2024. All right reserved.<br>
      Generated with ❤️ by custom engine. <a href="https://github.com/tolacika/cv-astro" target="_blank" class="underline hover:text-purple-300">Available on github.</a>
    </p>
    <SocialLinks content={content} />
  </div>
</footer>
