---
import bgHero from '../assets/img/bg-hero.jpg';

const { bgImg } = Astro.props as { bgImg: string }
---

<section
  id="hero"
  class="relative bg-cover bg-center bg-no-repeat py-8"
  style={`background-image: url(${bgImg ? bgImg : bgHero.src})`}
>
  <!-- Gradient overlay -->
  <div
    class={`absolute inset-0 z-20 bg-linear-to-r` + (bgImg ? ` from-hero-post-gradient-from to-hero-post-gradient-to` : ` from-hero-gradient-from to-hero-gradient-to`)}>
  </div>

  <div class="container relative z-30 pt-20 pb-12 sm:pt-56 sm:pb-48 lg:pt-64 lg:pb-48">
    <slot />
  </div>
</section>