---
import type { Content, ImageType, Tag } from "../lib/content";
import Hero from "./Hero.astro";

interface Props {
  content: Content;
  tag: Tag;
  partial?: boolean;
}

const { content, tag, partial = false } = Astro.props as Props;

const Test = partial ? "div" : Hero;
---

<Test>
  <div class="flex flex-col items-center justify-center lg:flex-row">
    <div class="pt-8 sm:pt-10 lg:pl-8 lg:pt-0">
      <h1
        class="text-center font-header text-4xl text-white lg:text-left sm:text-5xl xl:text-6xl bg-linear-to-r from-hero-gradient-from to-hero-gradient-to inline-block p-1"
      >
        {tag.label}
      </h1>
      <h2
        class="text-center font-header text-2xl text-white lg:text-left sm:text-3xl xl:text-4xl font-extralight italic mt-4 bg-linear-to-r from-hero-gradient-from to-hero-gradient-to p-2"
      >
        {tag.teaser}
      </h2>
    </div>
  </div>
</Test>
