---
import { content } from "../lib/content";

import SkillsBar from "./SkillsBar.astro";
import LanguageSection from "./LanguageSection.astro";

interface Props {}

const { title, paragraphs } = content.intro;
---

<section id="about" class="bg-grey-50">
  <div class="container-fluid sm:container">
    <div
      class="mx-6 md:mx-0 flex flex-col items-start py-8 md:py-12 lg:py-20 md:flex-row"
    >
      <!-- Left -->
      <div class="w-full text-center md:w-3/5 md:text-left">
        <h2
          class="font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
        >
          {title}
        </h2>

        {
          paragraphs.map((p) => (
            <p class="pt-6 font-body leading-relaxed text-grey-10 sm:text-lg lg:text-xl">
              {p}
            </p>
          ))
        }
      </div>

      <!-- Right -->
      <div class="w-full pl-0 pt-10 md:w-2/5 md:pl-2 md:pt-0">
        <LanguageSection />
      </div>
    </div>

    <!-- Bottom -->
    <SkillsBar />
  </div>
</section>
