---
import { getContent, type Content } from "../lib/content";
import { generateLlmPrompt, generateLlmPromptDev, generateLlmPromptResearch, type LlmGeneratorInput } from "../lib/generator";
import { getPosts, type Post, type PostContent } from "../lib/posts";
import Button from "./Button.astro";
import Modal from "./Modal.astro";
import TextareaWithCopyButton from "./TextareaWithCopyButton.astro";
const env = import.meta.env.DEV ? "development" : "production";
const isDev = env == "development";

const content = (await getContent()) as Content;
const posts = getPosts({ type: "perspective", limit: 3 });
const getPost = (slug: string) => posts.find((p) => p.slug == slug);

const postBackground: Post = getPost("perspective-background") as Post;
const contentBackground: PostContent = await postBackground.content();

const postVision: Post = getPost("perspective-vision") as Post;
const contentVision: PostContent = await postVision.content();

const postNotes: Post = getPost("perspective-side-quests") as Post;
const contentNotes: PostContent = await postNotes.content();

const input: LlmGeneratorInput = {
  translations: content,
  featuredPosts: [] as unknown as [[Post, PostContent]],
  perspectivePosts: [
    [postBackground, contentBackground],
    [postVision, contentVision],
    [postNotes, contentNotes],
  ] as unknown as [[Post, PostContent]],
};
---

<Modal id="llm-context" title="LLM Context">
  <!-- content -->
  <div>
    <TextareaWithCopyButton
      id="llm-context-textarea"
      label="Generic LLM Prompt"
      content={generateLlmPrompt(input, env)}
    />
    {
      isDev && (
        <>
          <hr class="my-2" />
          <TextareaWithCopyButton
            id="llm-dev-context-textarea"
            label="Application LLM Prompt"
            content={generateLlmPromptDev(input, env)}
          />
          <hr class="my-2" />
          <TextareaWithCopyButton
            id="llm-research-context-textarea"
            label="Research LLM Prompt"
            content={generateLlmPromptResearch(input, env)}
          />
        </>
      )
    }
  </div>
  <div slot="footer">
    <Button variant="outline" action="closeModal">Close</Button>
  </div>
</Modal>
