---
import { getContent, type Content } from "../lib/content";
import { createLlmInput, generateLlmPrompt, generateLlmPromptDev, generateLlmPromptResearch, type LlmGeneratorInput } from "../lib/generator";
import { getPosts, type Post, type PostContent } from "../lib/posts";
import Button from "./Button.astro";
import Modal from "./Modal.astro";
import TextareaWithCopyButton from "./TextareaWithCopyButton.astro";
const env = import.meta.env.DEV ? "development" : "production";
const isDev = env == "development";

const input = await createLlmInput();
---

<Modal id="llm-context" title="LLM Context">
  <!-- content -->
  <div>
    <TextareaWithCopyButton
      id="llm-context-textarea"
      label="Generic LLM Prompt"
      content={generateLlmPrompt(input)}
    />
    {
      isDev && (
        <>
          <hr class="my-2" />
          <TextareaWithCopyButton
            id="llm-dev-context-textarea"
            label="Application LLM Prompt"
            content={generateLlmPromptDev(input)}
          />
          <hr class="my-2" />
          <TextareaWithCopyButton
            id="llm-research-context-textarea"
            label="Research LLM Prompt"
            content={generateLlmPromptResearch(input)}
          />
        </>
      )
    }
  </div>
  <div slot="footer">
    <Button variant="outline" action="closeModal">Close</Button>
  </div>
</Modal>
