---
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import RefItem from "./RefItem.astro";
import { content } from "../lib/content";

interface Props {
  post: CollectionEntry<"postCollection">;
}

const { post } = Astro.props;

const patterns = await getEntries(post.data.patterns || []);
const tags = await getEntries(post.data.tags || []);
const posts = await getEntries(post.data.related || []);
const jobs = await getEntries(post.data.jobs || []);

const fullLength = patterns.length + tags.length + posts.length + jobs.length + (post.data.external || [])?.length;
---
{fullLength > 0 ? (
<section id="relatedEntries" class="bg-grey-60">
  <div class="container py-4 md:py-8 bg-white">
    <p class="text-base sm:text-lg lg:text-xl">{content.seo.ctaRelatedEntries}</p>
    <RefItem type="pattern" items={patterns.map(t => t.data)} />
    <RefItem type="tag" items={tags.map(t => t.data)} />
    <RefItem type="job" items={jobs.map(t => t.data)} />
    <RefItem type="post" items={posts.map(t => t.data)} />
    <RefItem type="external" items={post.data.external || []} />
  </div>
</section>
) : <></>}
