---
import type { Tag } from '../content.config';


interface Props {
  type: "badge" | "tag" | "custom";
  tag: Tag;
}

const { type, tag } = Astro.props;
const href = `/tag/${tag.slug}.html`;
const classes: Record<Props["type"], string[]> = {
  tag: ["hover:underline", "text-primary", "group-hover:text-yellow"],
  badge: [
    "text-gray-600",
    "hover:text-black",
    "hover:underline",
    "px-2",
    "py-1",
    "mr-1",
    "mb-0.5",
    "bg-primary-light",
    "whitespace-nowrap",
    "rounded",
    "cursor-pointer",
  ],
  custom: [
    "group",
    "rounded",
    "px-8",
    "py-12",
    "shadow",
    "hover:bg-primary",
    "cursor-pointer",
  ],
};
---

<a
  href={href}
  class:list={[...classes[type], "prevent-default"]}
  data-action="openModal"
  data-target="#tag-explorer"
  data-payload={tag.slug}
><slot /></a>
