---
import type { Content, Tag } from "../lib/content";
import SeeAlso from "./SeeAlso.astro";

const { content, tag } = Astro.props as {
  content: Content;
  tag: Tag;
};

---
<section id="content" class="bg-grey-60">
  <div class="container py-4 md:py-8 bg-white">
    <article id={tag.slug} class="text-lg">
      {tag.explanation.map(exp => <p>{exp}</p>)}

      {tag.seeAlso && <SeeAlso also={tag.seeAlso} />}
    </article>
  </div>
</section>