---
import type { CollectionEntry } from "astro:content";
import type { Content, ImageType } from "../lib/content";
import { render } from "astro:content";

interface Props {
  content: Content;
  post: CollectionEntry<"postCollection">;
}

const { content, post } = Astro.props;

const { Content } = await render(post);
---

<section id="content" class="bg-grey-60">
  <div class="container py-16 md:py-20 bg-white">
    <article id={post.data.slug} class="text-lg">
      <Content />
    </article>
  </div>
</section>
