---
import type { Content, Pattern, Tag } from "../lib/content";
import SeeAlso from "./SeeAlso.astro";
const { content, pattern } = Astro.props as {
  content: Content;
  pattern: Pattern;
};

---
<section id="content" class="bg-grey-60">
  <div class="container py-16 md:py-20 bg-white">
    <article id={pattern.slug} class="text-lg">
      {pattern.explanation.map(exp => <p>{exp}</p>)}

      {pattern.seeAlso && <SeeAlso also={pattern.seeAlso} />}
    </article>
  </div>
</section>