---
import type { CollectionEntry } from "astro:content";
import type { Content } from "../lib/content";
import { render } from "astro:content";

const { content, tag } = Astro.props as {
  content: Content;
  tag: CollectionEntry<"tagCollection">;
};

const { Content } = await render(tag);
---

<section id="content" class="bg-grey-60">
  <div class="container py-4 md:py-8 bg-white">
    <article id={tag.data.slug} class="text-lg">
      <Content />
    </article>
  </div>
</section>
