---
import "../styles/global.css";
import MainHead from "../components/MainHead.astro";
import type { Props as MainHeadProps } from "../components/MainHead.astro";

interface Props {
  headProps: MainHeadProps,
  bodyClass?: string,
}

const { headProps, bodyClass } = Astro.props;
---
<html lang="en">
  <head>
    <MainHead {...headProps} />
  </head>
  <body class={`antialiased bg-primary-light${bodyClass ? " " + bodyClass : ""}`}>
    <slot />
  </body>
</html>